.navbar {
  background-color: black;
}
.navbar ul li {
  list-style-type: none;
  display: inline-block;
  padding: 1rem;
}
.navbar ul li a {
  color: white;
  padding: 1rem;
}

.active {
  background-color: red;
}
